@model BasarSoftStajMVC.Model.LogInModel

@{
    ViewBag.Title = "Üye Girişi";
}


@section scripts{
    <style type="text/css">
        #formKapsayici {
            box-shadow: 0 0 5px gray;
            padding: 25px;
            height: 250px;
        }

        #divSol, #divSag {
            float: left;
            margin-left: 25px;
        }

            #divSol *, #divSag * {
                margin-top: 15px;
            }

        input[type="text"] {
            width: 250px;
        }

        #btnLogIn {
            clear: both;
            display: block;
            margin-left: 132px;
        }

        #divSonuc {
            color: red;
        }

        #error {
            color: red;
        }
    </style>
}

<h2>Üye Girişi</h2>

@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "formKapsayici" }))
{

    <div id="divSol">
        @Html.LabelFor(i => Model.UserName)<br /><br />
        @Html.LabelFor(i => Model.Password)<br /><br />

    </div>

    <div id="divSag">
        : @Html.TextBoxFor(i => Model.UserName)<br /><br />
        : @Html.TextBoxFor(i => Model.Password)<br /><br />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    

    <br />
    <input type="submit" value="Giriş Yap" id="btnLogIn" />
    <br />
    <div id="error">
        @ViewBag.LoginError
    </div>

    <br />
    <br />
    <div id="divSonuc"></div>
}

