@model BasarSoftStajMVC.Model.UserUpdateModel

@{
    ViewBag.Title = "Kullanıcı Düzenle";
}

@section scripts{
    <style type="text/css">
        #formKapsayici {
            box-shadow: 0 0 5px gray;
            padding: 25px;
            height: 350px;
        }

        #divSol, #divSag {
            float: left;
            margin-left: 25px;
        }

            #divSol *, #divSag * {
                margin-top: 15px;
            }

        input[type="text"] {
            width: 250px;
        }

        #btnUpdate {
            clear: both;
            display: block;
            margin-left: 132px;
        }
    </style>


}


@using (Html.BeginForm("Update", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "formKapsayici" }))
{
    <div id="divSol">
        @Html.LabelFor(i => Model.Name)<br /><br />
        @Html.LabelFor(i => Model.Email)<br /><br />
        @Html.LabelFor(i => Model.Password)<br /><br />
    </div>

    <div id="divSag">
        : @Html.TextBoxFor(i => Model.Name)<br /><br />
        : @Html.TextBoxFor(i => Model.Email)<br /><br />
        : @Html.TextBoxFor(i => Model.Password)<br /><br />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Bilgileri Güncelle" id="btnUpdate" />


    @Html.ValidationSummary()
}